<?xml version="1.0"?>
<robot>

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="blue">
        <color rgba="0.15 0.31 0.45 1.0"/>
    </material>

    <material name="green">
        <color rgba="0.0 0.8 0.0 1.0"/>
    </material>

    <material name="grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
    </material>

    <material name="silver">
        <color rgba="0.9137254901960784 0.9137254901960784 0.8470588235294118 1.0"/>
    </material>

    <material name="orange">
        <color rgba="1.0 0.4235294117647059 0.0392156862745098 1.0"/>
    </material>

    <material name="brown">
        <color rgba="0.96 0.87 0.81 1.0"/>
    </material>

    <material name="red">
        <color rgba="0.8 0.0 0.0 1.0"/>
    </material>

    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

</robot>
